body {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pageWrapper {
  background: url("../images/bgimage.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 300px;
  padding: 20px;
  z-index: 1;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forms {
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forms__col {
  margin: 0 30px;
}

.forms__logo {
  margin: 60px 30px;
}

.formBox {
  width: 420px;
  border-radius: 4px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.formBox__header {
  color: #FFFFFF;
  font-weight: normal;
  text-shadow: 1px 1px 3px #000000;
}

.formBox__formWrapper {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.2);
}

.formBox__form {
  display: block;
  width: 380px;
  background: #F4F4F4;
  padding: 20px;
  border-radius: 4px;
  margin: 20px;
}

.formBox__select, .formBox__inputText {
  display: block;
  font-size: 16px;
  color: #AFAFAF;
  line-height: 1.3;
  padding: .6em 1.4em .5em 80px;
  width: 100%;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #C6C6C6;
  -webkit-box-shadow: 1px 1px 0 0px white;
          box-shadow: 1px 1px 0 0px white;
  border-radius: 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  margin: 20px auto;
}

.formBox__select::-webkit-input-placeholder, .formBox__inputText::-webkit-input-placeholder {
  color: #AFAFAF;
}

.formBox__select:-ms-input-placeholder, .formBox__inputText:-ms-input-placeholder {
  color: #AFAFAF;
}

.formBox__select::-ms-input-placeholder, .formBox__inputText::-ms-input-placeholder {
  color: #AFAFAF;
}

.formBox__select::placeholder, .formBox__inputText::placeholder {
  color: #AFAFAF;
}

.formBox__select--location, .formBox__inputText--location {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), url("../images/line.png"), url("../images/geotag.png"), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#9F9F9F));
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), url("../images/line.png"), url("../images/geotag.png"), linear-gradient(to bottom, #ffffff 0%, #9F9F9F 100%);
  background-repeat: no-repeat, no-repeat, no-repeat, repeat;
  background-position: right .7em top 50%, 60px 5px, left 23px top 8px, 0 0;
  background-size: .65em auto, auto, auto, 100%;
}

.formBox__select--user, .formBox__inputText--user {
  background-image: url("../images/line.png"), url("../images/user.png"), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#9F9F9F));
  background-image: url("../images/line.png"), url("../images/user.png"), linear-gradient(to bottom, #ffffff 0%, #9F9F9F 100%);
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: 60px 5px, left 19px top 9px, 0 0;
  background-size: auto, auto, 100%;
}

.formBox__select--email, .formBox__inputText--email {
  background-image: url("../images/line.png"), url("../images/mail.png"), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#9F9F9F));
  background-image: url("../images/line.png"), url("../images/mail.png"), linear-gradient(to bottom, #ffffff 0%, #9F9F9F 100%);
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: 60px 5px, left 18px top 10px, 0 0;
  background-size: auto, auto, 100%;
}

.formBox__select--password, .formBox__inputText--password {
  background-image: url("../images/line.png"), url("../images/lock.png"), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#9F9F9F));
  background-image: url("../images/line.png"), url("../images/lock.png"), linear-gradient(to bottom, #ffffff 0%, #9F9F9F 100%);
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: 60px 5px, left 20px top 6px, 0 0;
  background-size: auto, auto, 100%;
}

.formBox__select--phone, .formBox__inputText--phone {
  background-image: url("../images/line.png"), url("../images/phone.png"), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#9F9F9F));
  background-image: url("../images/line.png"), url("../images/phone.png"), linear-gradient(to bottom, #ffffff 0%, #9F9F9F 100%);
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: 60px 5px, left 23px top 6px, 0 0;
  background-size: auto, auto, 100%;
}

.formBox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 17px;
  color: #AFAFAF;
  margin: -6px 0 12px;
}

.formBox__checkbox {
  opacity: 0;
  position: absolute;
}

.formBox__checkbox:checked ~ .formBox__customCheckbox::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formBox__customCheckbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#9F9F9F));
  background: linear-gradient(to bottom, #ffffff 0%, #9F9F9F 100%);
  width: 23px;
  height: 23px;
  border: 1px solid #C6C6C6;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 12px 0 0;
}

.formBox__customCheckbox::after {
  content: '';
  display: none;
  width: 13px;
  height: 13px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 0px #FFF;
          box-shadow: 1px 1px 0px #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#c0df84), to(#738f2f));
  background: linear-gradient(to bottom, #c0df84 0%, #738f2f 100%);
}

.formBox__textarea {
  width: 100%;
  resize: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#9F9F9F));
  background: linear-gradient(to bottom, #ffffff 0%, #9F9F9F 100%);
  margin: 0px 0 20px;
  border-radius: 4px;
  border: 1px solid #C6C6C6;
  padding: 10px;
  color: #AFAFAF;
  font-size: 16px;
}

.formBox__textarea::-webkit-input-placeholder {
  color: #AFAFAF;
}

.formBox__textarea:-ms-input-placeholder {
  color: #AFAFAF;
}

.formBox__textarea::-ms-input-placeholder {
  color: #AFAFAF;
}

.formBox__textarea::placeholder {
  color: #AFAFAF;
}

.formBox__submit, .formBox__decline {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  border: 1px solid #3A9A00;
  font-size: 24px;
  text-shadow: 1px 1px 0 #51850E;
  color: #FFFFFF;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#c0df84), to(#738f2f));
  background: linear-gradient(to bottom, #c0df84 0%, #738f2f 100%);
  padding: 10px;
  text-align: center;
}

.formBox__submit:disabled, .formBox__decline:disabled {
  opacity: .7;
}

.formBox__decline {
  background: -webkit-gradient(linear, left top, left bottom, from(#e59ba2), to(#9c464e));
  background: linear-gradient(to bottom, #e59ba2 0%, #9c464e 100%);
  text-shadow: 1px 1px 0 #51850E;
  border: 1px solid #A2202A;
}

.formBox__finish {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.formBox__finish .formBox__label {
  height: 100%;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */